.container {
    padding: 1.5rem;
}

.header {
    display: flex;
}

.header > .headerLeft {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    color: var(--primary);
    flex-grow: 1;
}

.header > .headerLeft > h1 {
    font-size: 1.7rem;
    font-weight: 500;
}

.header > .headerLeft > h2 {
    font-size: 1.1rem;
    font-weight: 400;
    min-width: max-content;
}

.header > .separator {
    margin-left: 4rem;
    margin-right: 1rem;
    width: 2px;
    border-radius: 100rem;
    background-color: var(--primary);
}

.header > .headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.1ch;
}

.header > .headerRight[data-active-status="Y"] {
    color: var(--success-green);
}

.header > .headerRight[data-active-status="N"] {
    color: var(--fail-red);
}

.configContainer {
    display: flex;
    column-gap: 0.8rem;
    margin-top: 3rem;
}

.configContainer > .verticalBar {
    width: 3px;
    border-radius: 100rem;
    background-color: var(--primary);
}

.configParent {
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.configParent > .configHeader > .searchBox {
    border: 1px solid var(--primary);
    border-radius: 100rem;
    position: relative;
    margin-bottom: 1rem;
}

.configParent > .configHeader > .searchBox > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    margin: auto 0;
    pointer-events: none;
    transition: stroke 150ms ease;
}

.configParent > .configHeader > .searchBox.active > svg {
    stroke: #f1a849;
}

.configParent > .configHeader > .searchBox > .searchInput {
    width: 100%;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 0.5rem;
    padding-left: 2rem; /* Explicit padding-left for input text not to clash with magnifying glass icon */
}

.configParent > .configHeader > .categorySelector {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.configParent > .configHeader > .categorySelector > .categoryItem {
    font-size: 0.8rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    transition: border-color 150ms ease, background-color 150ms ease;
}

.configParent > .configHeader > .categorySelector > .categoryItem.active {
    background-color: #fff1df;
    border-color: #f3c589;
}

.configParent table .categoryLabel > div {
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 0.5rem;
}

.configParent table tbody:not(:first-child) .categoryLabel > div {
    margin-top: 1.5rem;
}

.configParent table .categoryLabel > div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    margin-bottom: 0.3rem;
    background-color: var(--primary);
    border-radius: 100rem;
}

.configParent table tbody td:first-child {
    padding-right: 1rem;
}

.configParent table tr > :not(.categoryLabel) {
    vertical-align: middle;
}

.configParent table tr > :not(.categoryLabel):nth-child(1) > div::after {
    content: ':';
}

.configParent table tr td .emptyCell {
    font-style: italic;
    color: rgb(190, 190, 190);
    font-size: 0.9rem;
}

.configParent table {
    border-spacing: 0;
}

.configParent table tr:has(td:not(.categoryLabel)):nth-child(odd) {
    background-color: #f7f7f7;
}

.configParent table tr td:not(.categoryLabel) > div {
    padding: 0.1rem 0;
}